.about-section{
  
  background-image: url(../../../public/assets/img/bar.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 5rem;
  
}

.about-article{
  margin: 10rem 5rem;
}

p.about-article-body {
  font-size: 2rem;
  font-style: italic;
  width: 700px;
  margin: 0 auto;
  line-height: 1.8;
  color: orange;
  margin-top: 20px;
}

.about-article-pictur {
  margin-bottom: 20px;
}

.about-article-pictur img {
  width: 50rem;
  border-radius: 30%;
  margin: 0 auto;
}

.about-article-meta{
 backdrop-filter: invert(60%) ;
 padding: 1rem;
}

.about-article-meta h3{
  display: block;
  font-size: 3rem;
  margin-top: 10px;
  color: orange;
  font-weight: 900;
}


