
.container-details{
  display: flex;
  justify-content: space-around;
}

.single-product-item{
  position: relative;
  margin-top: 300px;
  width: 50rem;
}

.description{
  max-width: 600px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.cart-btn{
  margin:0rem 1rem 0rem 1rem;
}