
.container-details{
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.single-product-item{
  position: relative;
  width: 50rem;
}

.description{
  max-width: 600px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.cart-btn{
  margin:0rem 1rem 0rem 1rem;
}

.product-image {
  padding: 30px;
  padding-bottom: 0;
}

.product-image img {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p.product-price {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

p.product-price span {
  display: block;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
}