.top-header-area {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 25px 0;
  top:0;
}

nav.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main-menu ul li {
  display: inline-block;
}

nav.main-menu ul li a {
  color:#F28123;
  font-weight: 700;
  display: block;
  padding: 20px;
  font-size: 25px;
}

nav.main-menu ul > li {
  position: relative;
}

nav.main-menu ul > li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav.main-menu ul li:last-child a {
  display: inline-block;
}

.site-logo {
  float: left;
  max-width: 150px;
  padding: 6px 0;
}

.image-logo{
  border-radius: 3rem;
}

.main-menu-wrap {
  position: relative;
}

nav.main-menu li:hover > a {
  color:#FDA54B;
}

nav.main-menu li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.top-header-area .header-icons a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.top-header-area .header-icons a:hover {
  color: FDA54B;
}
