.catalog-card{
    width: 30rem !important;
    height: 40rem;
    position: relative;
    margin:1rem
}

.product-info{

    bottom: 0;
    padding-bottom: 2rem;
    text-align: center;
}

.image{
    height: 100%;

}
