.single-product-item {
  margin-bottom: 30px;
}

a.cart-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #F28123;
  color: #fff;
  padding: 10px 20px;
}


a.cart-btn i {
  margin-right: 5px;
}

.single-product-img img {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #ddd;
  box-shadow: 0 0 20px #ddd;
}

.single-product-content h3 {
  font-size: 22px;
  font-weight: 600;
}

.single-product-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}

.single-product-form a.cart-btn {
  margin-bottom: 15px;
}

.single-product-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}

.single-product-content {
  margin-left: 30px;
}

table.cart-table {
  border: 1px solid #f9f9f9;
  width: 100%;
}

thead {
  border-bottom: 1px solid #eee;
}

.cart-buttons {
  margin-top: 30px;
}

.cart-buttons a:first-child {
  margin-right: 20px;
}

.single-product-item {
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #F28123;
  color: #051922;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 3px;
}
